NODE_ENV=DEVELOPMENT

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASS=1234567890
MYSQL_DB=abc
MYSQL_DATASTORE=gamehubMysql

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=gamehub
MONGO_DATASTORE=gamehubMongo

JWT_TOKEN=token

PASSWORD_TOKEN=password_token